* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.content-container {
    margin: 10vh 25vw;
    width: 50vw;
    height: 80vh;
}

.content-container img {
    width: 100%;
    height: 85%;
    display: block;
    object-fit: cover;
}

.content-container button {
    width: 100%;
    height: 15%;
    display: block;
    background: linear-gradient(to right, #f0ba18, #59cd35);
    border: none;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    cursor: pointer;
}